extends layout
block content
    div.col-xs-12.no_padding.headerSection
        div.navbar.navbar-inverse.menulist
          div.container-fluid
            div.navbar-header
              a.navbar-brand(href='#') Digital Identity Application

    div.col-xs-12.no_padding.bodySection
        div.col-xs-12.signuppage
            h4(style='background-color:  black; color:  white;  margin-top: 5px;')
                label(style='margin: 10px 0 10px 40px;')
                    | Passport Details
            div.col-xs-12
                img(src='data:image/png;base64,#{passportData.photoString}',style='max-height:5em')
                img(src='data:image/png;base64,#{passportData.signatureString}' style='display:block;max-height: 5em')
                p.
                    Passport ID : #{passportData.passportID}
                p.
                    Name: #{passportData.name}
                p.
                    Country Name : #{passportData.countryName}
                p.
                    Gender: #{passportData.gender}
                p.
                    Date of Birth : #{passportData.DOB}
                p.
                    Father's Name: #{passportData.fathersName}
                p.
                    Mother's Name : #{passportData.mothersName}
                p.
                    Nationality: #{passportData.nationality}
                p.
                    Place Of Birth : #{passportData.placeOfBirth}
                p.
                    Place Of Issue: #{passportData.placeofIssue}    
                p.
                    Issue Date : #{passportData.issueDate}
                p.
                    Expiry Date: #{passportData.expiryDate}    
    
    div.col-xs-12.no_padding.footerSection
        label.control-label 
            | Copyright © 2018 A.K.R.R. All Rights Reserved.